# dependencies
node_modules

# environment variables
.env
.env.*
server/.env
server/.env.*
client/.env
client/.env.*

# build output
dist
build

# prisma generated client
/src/generated/prisma

# OS junk
.DS_Store
Thumbs.db
